<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team1.mini2.dz3.model.NoticeDao">


	<!-- 글 가져오기 -->
	<select id="noticegetBoardList" parameterType="hashmap"
		resultType="team1.mini2.dz3.model.NoticeDto">
		select * from
	 		(select A.*,ROWNUM r from 
	 		 	(select * from notice order by NOTICE_NO desc) A
	 	 	)
 	 	where r >= #{start} and r &lt;= #{end}
	</select>

	<!-- 글 하나 가져오기 -->
	<select id="noticegetdetail" parameterType="Integer"
		resultType="team1.mini2.dz3.model.NoticeDto">
		select NOTICE_TITLE, NOTICE_CONTENT from notice where NOTICE_NO = #{notice_no}
	</select>


	<select id="noticegetBoardCount" resultType="Integer">
		select count(*) from notice
	</select>
	
	<select id="noticeselectSearchCount" resultType="Integer" parameterType="hashMap">
 	
 	select count(*) from
	 		(select A.*,ROWNUM r from 
	 		 	(select * from notice 
	 		 	<if test="opt != null">
    				where ${opt} like '%' || #{key} || '%'    	
    			</if>
	 		 	order by NOTICE_NO desc) A
	 	 	)
 	 		
	 </select>
	 
	 <!-- 검색 -->
    <select id="noticegetselectSearch" parameterType="hashMap" resultType="team1.mini2.dz3.model.NoticeDto">
    	
    	
    		select * from
	 		(select A.*,ROWNUM r from 
	 		 	(select * from notice  
	 		 	<if test="opt != null">
    				where ${opt} like '%' || #{key} || '%'    	
    			</if>
	 		 	order by NOTICE_NO desc) A
	 	 	)
 	 		where r >= #{start} and r &lt;= #{end}
 	 		
 	 		
 	 		
 	 		<!-- SELECT * FROM mybatisBoard
    	where writer like '%김연아%'
    	<if test="column != null">
    		where ${column} like '%' || #{keyvalue} || '%'    	
    	</if> -->

    </select>



</mapper>
