<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
    <typeAlias type="team1.mini2.dz3.model.NoticeDto" alias="NoticeDto"/>
    <typeAlias type="team1.mini2.dz3.model.FaqDto" alias="FaqDto"/>
    </typeAliases>


</configuration>